.loginContainer{
      width: 600px;
    background-color: white;
    margin: auto;
    position: relative;
  margin-top: 9%;
}
label {
    margin-bottom: 5px;
    margin-left: 0px;
  font-weight:bold;
}
.loginImg {
    margin-top: 15px;
    height: 400px;
    width: auto;
    background-image: url('../../assets/man.png');
    background-repeat: no-repeat;
  transition: all 0.3s ease;
}
.titleDiv {
    padding: 10px;
    padding-left: 0px;
    margin-top: -10px;
    margin-bottom: 10px;
}
.form-horizontal {
    margin: auto;
    padding: 10px;
    padding-top: 21px;
    background-color: white;
}
.form-control {
    background-color: #EDF2F6;
    border-radius: 2px;
    border: 1px solid #E0DFDF;
}

@media (max-width: 768px){
  .loginContainer {
    margin-top: 0% !important;
    position: relative;
    width: 90%;
        top: 100px;
    transform: inherit;
    padding: 0px;
    left: auto;
}
.loginImg {
    width: 100%;
  height:70px;
  background-position:center -60px;
  background-size:cover;
}  
}