<H1>Login!</H1>

<div class="container">
    <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>

    <div>
        <label for="username">User Name :</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" required>
        <label for="password">Password :</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>

        <button (click)=handleLogin() class="btn btn-success">Login</button>

    </div>
</div>