<!-- <div class="container">
    <div class="success-tick-img">
        <img src="../../assets/green-tick.png" alt="success-tick">
    </div>
    <div>
        You have been successfully logged out!!
        Thanks for using our application!!
    </div>
    <div>
        Click <a routerLink="/login">here</a> to login again.
    </div>
</div> -->


<div class="logoutContainer row shadow">
    <div class="col-12 text-center">
        <div class="p-12 ">
            <div class="titleDiv text-center">
                <h2>You have been successfully logged out!!</h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <img src="../../assets/green-tick.png" alt="success-tick">
                    </div>
                    <div class="mar">
                        Click <a routerLink="/login">here</a> to login again.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
